<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="/logout" id="qsLogoutBtn">Odjava</a></p>
    <p><a href="/profil" id="qsLoginBtn">Korisnički profil</a></p>
    <p><a href="/preslike" id="qsLoginBtn">Osvježi preslike</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="/login" id="qsLoginBtn">Prijava</a></p>
    {% endif %}
  </body>
</html>
